Options -MultiViews

RewriteEngine On
RewriteBase /

# Ignore les fichiers et les dossiers réels
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA]